* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f0ff;
    color: #24152f;
    text-align: center;
}

h1 {
    background: #7b2cbf;
    color: white;
    padding: 30px 15px;
    font-size: 36px;
}

p {
    margin-top: 40px;
    font-size: 20px;
    }
